* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

.container {
    max-width: 1280px;
    margin: auto;
}
/*header*/
.logo {
    width: 150px;    
}
nav ul li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #8A8A8A;      
}
nav li {
    padding: 20px 5px;
}

/*sezione hero del main*/
.hero {
    position: relative;
}
.cont-hero {
    max-width: 1280px;
    height: 500px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: 10px;
}
.slogan {
    width: 50%;
    position: absolute;
    bottom: 0;
    left:0;
    padding-left: 40px;
    padding-bottom: 70px;
    color: #ffffff;
}
h1 {
    font-weight: 300;
    font-size: 28px
}

/*sezione "lightblue" del main*/
section.down {
    background-color: #0086ff;
    min-height: 600px;
    margin-top: 20px;
}

.row {
    background-color: #abcfe7;
    min-height: 80px;
    margin-bottom: 15px;
}

/*div contenitore per le colonne*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    background-color: #abcfe7;
    min-height: 490px;
    float: left;
}

.col.left, .col.right {
    width: 20%;
}

.col.middle {
    width: calc(60% - 30px);
    margin: 0 15px;
}
footer {
    background-color: #8601fe;
    min-height: 50px;
    margin-top: 10px;
}