* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 10px;
}
/*header*/
.logo {
    width: 200px;
    padding-right: 20px;
    border-right: 1px solid rgb(229, 229, 229);
}
nav ul li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #8A8A8A;      
}
nav li {
    padding: 20px 5px;
}

/*sezione hero del main*/
.hero {
    position: relative;
}
.cont-hero {
    max-width: 1280px;
    height: 500px;
}
.cont-hero img, .col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: 10px;
}
.slogan {
    width: 50%;
    position: absolute;
    bottom: 0;
    left:0;
    padding-left: 40px;
    padding-bottom: 70px;
    color: #ffffff;
}
h1 {
    font-weight: 300;
    font-size: 28px
}
/*sezione leadership*/
.leadership-title {
    margin: 30px 0;
}
.leadership-title h2 {
    font-weight: 600;
    font-size: 32px;
}
/*div contenitore per le colonne*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
    width: 20%;
    padding: 15px 0;
}
.col img {
    height: 200px;
}
.col h4 {
    padding: 10px 0;
}
.col.bigger {
    width: calc(60% - 40px);
    margin: 0 20px;
}
h2, h4, footer {
    color:#000000;
}
footer {
    text-align: center;
}
footer::after {
    content:"\02764\0FE0F";
}